head
  title Crimeact
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
  script(type="text/javascript", src="bower_components/platform/platform.js")

  link(href="http://fonts.googleapis.com/css?family=Vollkorn", rel="stylesheet", type="text/css")
  link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Norican")
  
  link(rel='import', href='bower_components/core-animated-pages/transitions/slide-from-right.html')
  link(rel='import', href='bower_components/core-animated-pages/core-animated-pages.html')
  link(rel='import', href='bower_components/core-icons/core-icons.html')
  link(rel='import', href='bower_components/core-icons/av-icons.html')
  link(rel='import', href='bower_components/core-toolbar/core-toolbar.html')
  link(rel='import', href='bower_components/paper-button/paper-button.html')
  link(rel='import', href='bower_components/paper-icon-button/paper-icon-button.html')

  link(rel='stylesheet', href='assets/css/main.css')
  link(rel='stylesheet', href='assets/css/media-query.css')

body(unresolved, fullbleed)

  audio#main_theme(src='assets/music/Benjamin_Lambert_-_creepy.mp3', autoplay, loop='true', preload)

  core-animated-pages(selected="0", transitions="slide-from-right")
    include assets/html/0.html
    include assets/html/1.html
    include assets/html/2.html
    include assets/html/3.html
    include assets/html/4.html
    include assets/html/5.html

    include assets/html/6.html
    include assets/html/7.html
    include assets/html/8.html
    include assets/html/9.html
    include assets/html/10.html

    include assets/html/11.html
    include assets/html/12.html
    include assets/html/13.html
    include assets/html/14.html
    include assets/html/15.html

    include assets/html/16.html
    include assets/html/17.html
    include assets/html/18.html
    include assets/html/19.html
    include assets/html/20.html

    include assets/html/21.html
    include assets/html/22.html
    include assets/html/23.html
    include assets/html/24.html
    include assets/html/25.html

    include assets/html/26.html
    include assets/html/27.html
    include assets/html/28.html
    include assets/html/29.html
    include assets/html/30.html

    include assets/html/31.html
    include assets/html/32.html
    include assets/html/33.html
    include assets/html/34.html
    include assets/html/35.html



  div#info-btn
    paper-icon-button(icon="info-outline", onclick="goTo(1)")
  div#music-btn
    paper-icon-button(icon="av:volume-up", onclick="toggleMusic()", id="music_icon")
  div#home-btn
    paper-icon-button(icon="home", onclick="goHome()")

  script(src="bower_components/jquery/dist/jquery.min.js")
  script(src="assets/js/main.js")