body {
	font-family: "Helvetica Neue";
	background: -webkit-linear-gradient(90deg, #232526 10%, #414345 90%);
	background:    -moz-linear-gradient(90deg, #232526 10%, #414345 90%);
	background:     -ms-linear-gradient(90deg, #232526 10%, #414345 90%);
	background:      -o-linear-gradient(90deg, #232526 10%, #414345 90%);
	background:         linear-gradient(90deg, #232526 10%, #414345 90%);
	color: rgba(255, 255, 255, 0.87);
}

section > div {
	text-align: center;
	padding: 10px 0 0 0;
	width: 70%;
	max-width: 50em;
	margin: 0 auto;
}

h1 {
	font-size: 3em;
	display: block;
}

p {
	font-size: 1.2em;
}

.hero-headline {
	font-size: 10em;
	color: #white;
}

paper-button {
	background-color: #7B1FA2;
	margin-bottom: 30px;
}

paper-icon-button {
	opacity: 0.4;
}

#info-btn {
	position: fixed;
	top: 0px;
	left: 0px;
}

#music-btn {
	position: fixed;
	bottom: 0px;
	right: 0px;
}

#home-btn {
	position: fixed;
	bottom: 0px;
	left: 0px;
}

section > div > p {
	font-family: "Vollkorn";
}

section > div > h1 {
	font-family: "Vollkorn";
}