body {
	font-family: "Helvetica Neue";
	background: -webkit-linear-gradient(90deg, #232526 10%, #414345 90%);
	background:    -moz-linear-gradient(90deg, #232526 10%, #414345 90%);
	background:     -ms-linear-gradient(90deg, #232526 10%, #414345 90%);
	background:      -o-linear-gradient(90deg, #232526 10%, #414345 90%);
	background:         linear-gradient(90deg, #232526 10%, #414345 90%);
	color: rgba(255, 255, 255, 0.87);
}

section > div {
	text-align: center;
	padding: 10px 0 0 0;
	width: 70%;
	max-width: 50em;
	margin: 0 auto;
}

h1 {
	font-size: 3em;
	display: block;
}

p {
	font-size: 1.2em;
}

img {
	max-width: 100%;
	margin-bottom: 30px;
}

.hero-headline {
	font-size: 10em;
}

paper-button {
	background-color: #7B1FA2;
	margin-bottom: 30px;
}

paper-icon-button {
	opacity: 0.4;
}

#info-btn {
	position: fixed;
	top: 0px;
	left: 0px;
}

#music-btn {
	position: fixed;
	bottom: 0px;
	right: 0px;
}

#home-btn {
	position: fixed;
	bottom: 0px;
	left: 0px;
}

section > div > p {
	font-family: "Vollkorn";
}

section > div > h1 {
	font-family: "Vollkorn";
}

/* ###### */
/* LETTER */
/* ###### */

.letter {
	font-family: "Norican";
	color: black;
	font-size: 1.4em;
	font-style: italic;
	position: relative;
	width: 65%;
	padding: 4%;
	margin: 10px auto;
	background-color: #F8ECC2;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.letter:before, .letter:after {
	position: absolute;
	width: 40%;
	height: 10px;
	content: ' ';
	left: 12px;
	bottom: 12px;
	background: transparent;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	z-index: -1;
} 

.letter:after {
	left: auto;
	right: 12px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
}

/* ############## */
/* SPEEECHBUBBLES */
/* ############## */


.chat {
	widht: 75%;
	margin-bottom: 75px;
}

.clear {
	clear: both;
}

.me {
	-webkit-animation: popup-me 1s ease;
	color: white;
	background-color: #1982FB;
	display: block;
	padding: 10px 20px;
	border-radius: 25px;
	margin: 5px 0px;
	float: right;
	max-width: 50%;
}
.me:after {
	content: "\a";
    white-space: pre;
}

.them {
	-webkit-animation: popup-them 1.5s ease;
	color: black;
	background-color: #E5E5EA;
	display: block;
	padding: 10px 20px;
	border-radius: 25px;
	margin: 5px 0px;
	float: left;
	max-width: 50%;
}
.them:after {
	content: "\a";
	white-space: pre;
}

@-webkit-keyframes popup-me {
	0% {
		transform: scale(0);
	}
	60% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

@-webkit-keyframes popup-them {
	0% {
		transform: scale(0);
	}
	33% {
		transform: scale(0);
	}
	60% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1)
	}
}