@media (max-width: 600px) {
	.go-btn {
		font-size: 32px;
	}

	.hero-headline {
		font-size: 7.5em;
	}
	section > div {
		width: 89%;
	}
	p {
		font-size: 1.3em;
	}
	.letter {
		width: 75%;
	}
}

@media (max-width: 750px) {
	.letter {
		width: 80%;
	}
}